# App Configuration
TRIGGER_KEY=f6
LOG_LEVEL=INFO
# Voice Injection Configuration
AUDIO_OUTPUT_DEVICE_NAME="CABLE Input (VB-Audio Virtual Cable)"
AUDIO_MONITORING=true

# Message Configuration
# Options: fixed, random, chatgpt
MESSAGE_PROVIDER=fixed
FIXED_MESSAGE="Good luck have fun!"

# Typing Configuration
# Options: r6, debug
TYPER_TYPE=r6
OPEN_CHAT_DELAY=0.2
TYPING_INTERVAL=0.01

MESSAGE_PROVIDER=chatgpt
OPENAI_API_KEY=sk-YOUR-ACTUAL-API-KEY-HERE
NEXT_PROMPT_KEY=f8
PREV_PROMPT_KEY=f7
